Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
plotly
pyparsing
python-dateutil
pytz
scipy
six
statsmodels
tenacity
Werkzeug
zipp
gunicorn
